name: _google-app-script-deploy
on:
  workflow_call:
    inputs:
      target:
        type: string
        required: true
      environment:
        type: string
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@master
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
        working-directory: scripts/google-app-scripts

      - name: build
        working-directory: scripts/google-app-scripts
        run: pnpm run build
        env:
          ISSUE_POST_TOKEN: ${{ secrets.ISSUE_POST_TOKEN }}
          REPO_NAME: ${{ github.repository }}
          TARGET: ${{ inputs.target }}

      - name: setup
        working-directory: scripts/google-app-scripts
        run: pnpm run ${{ inputs.target }}:setup
        env:
          HOME: ${{ github.workspace }}
          GAS_ACCESS_TOKEN: ${{ secrets.GAS_ACCESS_TOKEN }}
          GAS_SCOPE: ${{ secrets.GAS_SCOPE }}
          GAS_ID_TOKEN: ${{ secrets.GAS_ID_TOKEN }}
          GAS_REFRESH_TOKEN: ${{ secrets.GAS_REFRESH_TOKEN }}
          GAS_CLIENT_ID: ${{ secrets.GAS_CLIENT_ID }}
          GAS_CLIENT_SECRET: ${{ secrets.GAS_CLIENT_SECRET }}
          SCRIPT_ID: ${{ secrets.SCRIPT_ID }}
          PARENT_ID: ${{ secrets.PARENT_ID }}

      - name: push
        working-directory: scripts/google-app-scripts
        run: pnpm run push -f
        env:
          clasp_config_auth: ${{ github.workspace }}/scripts/google-app-scripts/.clasprc.json
