name: CI Build (Web)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: '.node-version'
          cache: 'npm'
      - name: Use npm@11.4.0 via corepack
        run: |
          corepack enable
          corepack prepare npm@11.4.0 --activate
          npm --version

      - name: Install
        run: npm ci

      - name: Build (Turborepo)
        run: npm run build:ci
        env:
          NODE_ENV: production
