name: Lint
on:
  pull_request:
    branches: ["*"]
    paths:
      - packages/core/**
      - packages/parts/**
      - packages/eslint/**
      - packages/spec/**
      - packages/web/**
      - .github/workflows/ci-lint.yml
      - pnpm-lock.yaml

jobs:
  lint-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to commit changes
    steps:
      # setup
      - uses: actions/checkout@master
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
      - name: setup
        run: pnpm install --frozen-lockfile

      # build
      - run: pnpm run build:ci

      # lint & fix
      - name: lint
        run: pnpm run lint

      - name: auto commit
        uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v6
        with:
          commit_message: Auto commit with fmt
          branch: ${{ github.head_ref }}
