name: Lighthouse
on:
  pull_request:
    branches: ["*"]
    paths:
      - packages/core/**
      - packages/parts/**
      - packages/web/**
      - .github/workflows/ci-lighthouse.yml
      - bun.lock

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    permissions:
      contents: read # チェックアウトとビルドのため
    steps:
      # setup
      - uses: actions/checkout@master
      - uses: oven-sh/setup-bun@4bc047ad259df6fc24a6c9b0f9a0cb08cf17fbe5 # v2
        with:
          bun-version-file: ".tool-versions"
      - name: setup
        run: bun install --frozen-lockfile

      # build
      - run: bun run --bun build:test

      # lighthouse
      - name: Run Lighthouse
        run: bunx @lhci/cli@0.13.x autorun
        working-directory: packages/web
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
