name: Lint
on:
  pull_request:
    branches: ["*"]
    paths:
      - packages/core/**
      - packages/parts/**
      - packages/eslint/**
      - packages/spec/**
      - packages/web/**
      - "*.md"
      - ".github/**/*.md"
      - "docs/**/*.md"
      - .github/workflows/ci-lint.yml
      - pnpm-lock.yaml

jobs:
  lint-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to commit changes
    steps:
      # setup
      - uses: actions/checkout@master
        with:
          ref: ${{ github.head_ref }}  # PRのソースブランチをチェックアウト
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
      - name: setup
        run: pnpm install --frozen-lockfile

      - run: pnpm run build:test

      # lint & fix
      - name: lint
        run: pnpm run format

      - name: 変更の検出とコミット
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git config --local user.name "github-actions[bot]"
            git add .
            git commit -m "docs: markdownファイルのフォーマット修正

            CIによる自動コミット"
            git push
          else
            echo "変更はありませんでした"
          fi
