name: Lint
on:
  pull_request:
  push:
    branches:
      - '*'

jobs:
  lint-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to commit changes
    steps:
      # setup
      - uses: actions/checkout@master
      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4
        with:
          node-version-file: '.node-version'
          cache: 'npm'
      - name: setup
        run: npm ci

      # build
      - name: Cache turbo build setup
        uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - run: npm run build

      # lint & fix
      - name: lint
        run: npm run lint

      - name: auto commit
        uses: stefanzweifel/git-auto-commit-action@e348103e9026cc0eee72ae06630dbe30c8bf7a79 # v5
        with:
          commit_message: Auto commit with fmt
          branch: ${{ github.head_ref }}
