name: Lighthouse
on:
  pull_request:
  push:
    branches:
      - "*"

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      # setup
      - uses: actions/checkout@master
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: setup
        run: pnpm install --frozen-lockfile

      # build
      - run: pnpm run build:ci

      # lighthouse
      - name: Run Lighthouse
        run: pnpm dlx @lhci/cli@0.13.x autorun
        working-directory: packages/web
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
