name: Lighthouse
on:
  pull_request:
  push:
    branches:
      - '*'

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      # setup
      - uses: actions/checkout@master
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: '.node-version'
          cache: 'npm'
      - name: Install npm@11.5.2 (global)
        run: |
          npm i -g npm@11.5.2
          npm --version
      - name: setup
        run: npm ci

      # build
      - run: npm run build:ci

      # lighthouse
      - name: Run Lighthouse
        run: |
          npm install -g @lhci/cli@0.13.x
          lhci autorun
        working-directory: packages/web
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
