name: Lint & Fix Markdown Files

on:
  pull_request:
    branches: ["*"]
    paths:
      - "*.md"
      - ".github/**/*.md"
      - "docs/**/*.md"
      - "packages/**/*.md"
      - ".github/workflows/lint-docs.yml"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  lint-docs:
    runs-on: ubuntu-latest
    steps:
      # setup
      - uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
      - name: setup
        run: pnpm install --frozen-lockfile

      - name: lint documents
        run: pnpm run docs format

      - name: auto commit
        uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v6
        with:
          commit_message: Auto commit with fmt
          branch: ${{ github.head_ref }}
