name: Lighthouse
on:
  pull_request:
    branches: ["*"]
    paths:
      - packages/core/**
      - packages/parts/**
      - packages/web/**
      - .github/workflows/ci-lighthouse.yml
      - pnpm-lock.yaml

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    permissions:
      contents: read # チェックアウトとビルドのため
    steps:
      # setup
      - uses: actions/checkout@master
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
      - name: setup
        run: pnpm install --frozen-lockfile

      # build
      - run: pnpm run build:test

      # lighthouse
      - name: Run Lighthouse
        run: pnpm dlx @lhci/cli@0.13.x autorun
        working-directory: packages/web
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
