name: Lint
on:
  pull_request:
  push:
    branches:
      - '*'

jobs:
  lint-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to commit changes
    steps:
      # setup
      - uses: actions/checkout@master
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: '.node-version'
          cache: 'npm'
      - name: Use npm@11.4.0 via corepack
        run: |
          corepack enable
          corepack prepare npm@11.4.0 --activate
          npm --version
      - name: setup
        run: npm ci

      # build
      - run: npm run build:ci

      # lint & fix
      - name: lint
        run: npm run lint

      - name: auto commit
        uses: stefanzweifel/git-auto-commit-action@b863ae1933cb653a53c021fe36dbb774e1fb9403 # v5
        with:
          commit_message: Auto commit with fmt
          branch: ${{ github.head_ref }}
