name: Test
on:
  pull_request:
  push:
    branches:
      - '*'

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      # setup
      - uses: actions/checkout@master
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: '.node-version'
          cache: 'npm'
      - name: Install npm@11.4.0 (global)
        run: |
          npm i -g npm@11.4.0
          npm --version
      - name: setup
        run: npm ci

      # build
      - run: npm run build:ci

      # test
      - name: type check
        run: npm run check-types

      - name: test with coverage
        run: npm run coverage

      # coverage tools
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5.4.3
        with:
          files: ./packages/core/coverage/coverage-final.json,./packages/web/coverage/coverage-final.json
          fail_ci_if_error: true
          slug: tooppoo/ac6_assemble_tool
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
