name: Test
on:
  pull_request:
    branches: ["*"]
    paths:
      - packages/core/**
      - packages/parts/**
      - packages/spec/**
      - packages/tsconfig/**
      - packages/web/**
      - .github/workflows/ci-test.yml
      - pnpm-lock.yaml

jobs:
  unit-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read # チェックアウトとビルドのため
    steps:
      # setup
      - uses: actions/checkout@master
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
      - name: setup
        run: pnpm install --frozen-lockfile

      # build
      - run: pnpm run build:test

      # test
      - name: type check
        run: pnpm run check-types

      - name: test with coverage
        run: pnpm run coverage

      # coverage tools
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          files: ./packages/core/coverage/coverage-final.json,./packages/web/coverage/coverage-final.json
          fail_ci_if_error: true
          slug: tooppoo/ac6_assemble_tool
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
